
.vs/ProjectEvaluation/

.vs/RecipeBook/config/

.vs/RecipeBook/DesignTimeBuild/

.vs/RecipeBook/FileContentIndex/

.vs/RecipeBook/v17/

RB.Application/bin/Debug/net8.0/

RB.Application/obj/Debug/net8.0/

RB.Application/obj/

RB.Core/bin/Debug/net8.0/

RB.Core/obj/Debug/net8.0/

RB.Core/obj/

RB.Infrastructure/bin/Debug/net8.0/

RB.Infrastructure/obj/Debug/net8.0/

RB.Infrastructure/obj/

RB.Presentation.Console/bin/Debug/net8.0/

RB.Presentation.Console/obj/Debug/net8.0/

RB.Presentation.Console/obj/

RB.Presentation.WebApi/bin/Debug/net8.0/

RB.Presentation.WebApi/obj/Debug/net8.0/

RB.Presentation.WebApi/obj/

RB.Tests/bin/Debug/net8.0/cs/

RB.Tests/bin/Debug/net8.0/de/

RB.Tests/bin/Debug/net8.0/es/

RB.Tests/bin/Debug/net8.0/fr/

RB.Tests/bin/Debug/net8.0/it/

RB.Tests/bin/Debug/net8.0/ja/

RB.Tests/bin/Debug/net8.0/ko/

RB.Tests/bin/Debug/net8.0/

RB.Tests/obj/Debug/net8.0/

RB.Tests/obj/
